!!!html
html
    head
        title Leaflet testing
        link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
        link(rel="stylesheet", href="styles/base.css")
        script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="http://d3js.org/topojson.v1.min.js")
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    body
        #map
        script(src="scripts/leaflet-d3-layer.js")
        script(src="scripts/app.js")